/* CSS declarations go here */
.slider-size {
	height: 400px; /* This is your slider height */
}
.carousel {
	width:100%; 
	margin:0 auto; /* center your carousel if other than 100% */ 
	height:400px;
}

.main {
	margin-top: 3%;
}

.input-box {
	width:100%;
	margin-bottom: 1rem;
}

.message {
	margin-bottom: 1rem;
}

.login{
	min-height: 20px;
	padding: 19px;
	padding-top: 0px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}